Repository PreferredAI/cornac, pull requests merged in 2024-05, with the labels that each got.

#617 Update LightGCN to remove torch requirement for prediction
  cornac/models/lightgcn/lightgcn.py
  cornac/models/lightgcn/recom_lightgcn.py
Labels: bug

#619 Update TriRank documentation
  cornac/models/trirank/recom_trirank.py
Labels: models

#623 Fix Documentation iamaresearcher.rst Tuning Hyperparameters
  docs/source/user/iamaresearcher.rst
Labels: docs
